Visualisierung_ERKAS2021.qgz
Data/.DS_Store
Data/noBD Bearbeitung ERKAS'21 Str.daten.docx
Data/ILI/CARAM_routes_TI_2021.xtf
Data/ILI/ERKAS_Strassen_AG_2021.ili
Data/ILI/ERKAS_Strassen_AG_2021.xtf
Data/ILI/Erkas_Strassen_BE_2021.ili
Data/ILI/Erkas_Strassen_BE_2021.xtf
Data/ILI/ERKAS_Strassen_BL_2021.xtf
Data/ILI/ERKAS_Strassen_GR_2021.xtf
Data/ILI/ERKAS_Strassen_LU_2021.ili
Data/ILI/ERKAS_Strassen_LU_2021.xtf
Data/ILI/ERKAS_Strassen_SG_2021.xtf
Data/ILI/ERKAS_Strassen_SO_2021.ili
Data/ILI/ERKAS_Strassen_SO_2021.xtf
Data/ILI/ERKAS_Strassen_TG_2021.xtf
Data/XLSX/CARAM_routes_FR_2021.xlsx
Data/XLSX/CARAM_routes_GE_2021.xlsx
Data/XLSX/CARAM_routes_JU_2021.xlsx
Data/XLSX/CARAM_routes_NE_2021.xlsx
Data/XLSX/CARAM_routes_VD_2017.xlsx
Data/XLSX/CARAM_routes_VS_2021.xlsx
Data/XLSX/ERKAS_Bahnen_2021.xlsx
Data/XLSX/ERKAS_Strassen_BS_2021.xlsx
Data/XLSX/ERKAS_Strassen_NW_2017.xlsx
Data/XLSX/ERKAS_Strassen_OW_2021.xlsx
Data/XLSX/ERKAS_Strassen_SH_2021.xlsx
Data/XLSX/ERKAS_Strassen_SZ_2021.xlsx
Data/XLSX/ERKAS_Strassen_UR_2017.xlsx
Data/XLSX/ERKAS_Strassen_ZG_2021.xlsx
Data/XLSX/ERKAS_Strassen_ZH_2021.xlsx
.DS_Store
results.xlsx
.vscode/launch.json
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_AG_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_BE_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_BL_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_GR_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_LU_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_SG_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_SO_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_TG_2021.gpkg
Data/ILI_GPKG_CONVERT/ERKAS_Strassen_TI_2021.gpkg
Data/ILI_GPKG_EXPORT/ERKAS_Strassen_BL_2021.gpkg
Data/ILI_GPKG_EXPORT/ERKAS_Strassen_LU_2021.gpkg
Data/ILI_GPKG_EXPORT/ERKAS_Strassen_TG_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_AG_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_BE_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_BL_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_GR_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_LU_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_SG_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_SO_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_TG_2021.gpkg
Data/ILI_GPKG_EXPORT_ALL/ERKAS_Strassen_TI_2021.gpkg
Data/XLSX_CORRECTED/CARAM_routes_FR_2021.xlsx
Data/XLSX_CORRECTED/CARAM_routes_GE_2021.xlsx
Data/XLSX_CORRECTED/CARAM_routes_JU_2021.xlsx
Data/XLSX_CORRECTED/CARAM_routes_NE_2021.xlsx
Data/XLSX_CORRECTED/CARAM_routes_VD_2017.xlsx
Data/XLSX_CORRECTED/CARAM_routes_VS_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Bahnen_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_BS_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_NW_2017.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_OW_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_SH_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_SZ_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_UR_2017.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_ZG_2021.xlsx
Data/XLSX_CORRECTED/ERKAS_Strassen_ZH_2021.xlsx
ERKAS-processing.ipynb

